/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
/* Styling for the kh-khcontainer */

.form-values-khcontainer {
  font-family: Arial, sans-serif;
}

table#adastable{
  position: relative;
}

/* Styling for each set of form values */
.form-set-khcontainer {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
a.adaslink {
  color: inherit;
  text-decoration: none;
}

a.adaslink {
  text-decoration: underline;
}

/* Styling for form_id */
.form-id-label,
.field-label {
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}

.form-id-value {
  font-size: 1em;
  padding-left: 5px;
}

/* Styling for values */
.value {
  color: #333;
}

/* Hover effect */
.form-set-khcontainer:hover {
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

/* Styling for the delete button */
.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #ccc;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.delete-btn:hover {
  color: #ff5555;
}
.delete-btn2:hover {
  color: #ff5555;
}

/* Style for the export button */
.export-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}


.export-btn:hover,
.export-btn-pdf:hover {
  background-color: #0056b3;
}

/* Style for the Font Awesome icon inside the button */
.export-btn i {
  margin-right: 5px;
}

/* Additional styles for better readability */
.form-values-khcontainer {
  margin: 20px;
}

.form-set-khcontainer {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

/* Styling for the edit popup */
.edit-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 20px;
  max-width: 400px; /* Adjust the maximum width as needed */
  text-align: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.dismiss-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #666;
}

.edit-popup h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.edit-popup p {
  font-size: 16px;
  color: #555;
}

.edit-popup button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.edit-popup button:hover {
  background-color: #0056b3;
}
.input-large {
  flex-grow: 1;
  padding: 4px;
  font-size: 18px;
  margin: 1px;
}
.input-large-admin {
  flex-grow: 1;
  padding: 4px;
  font-size: 18px;
  margin: 1px;
  color: red;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  text-align: left;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
button.dismiss-btn {
  font-size: 7px;
  background: #ec4444;
  color: white;
}

/* Style the select element */
.custom-select {
  width: 100%;
  padding: 10px; /* Add padding for better readability */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
}

/* Center the select element within its kh-khcontainer */
.select-khcontainer {
  display: flex;
  justify-content: center;
}

/* make the edit form draggable*/
.draggable {
  cursor: move; /* Add cursor: move to indicate draggable */
}

.delete-btn2 {
  position: absolute;
  top: 40px;
  right: 5px;
  background-color: transparent;
  border: none;
  color: #ccc;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.pagination-links {
  margin: 7px 0px;
  margin-left: 10px
}

.pagination-links a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #eaeaea;
  color: #333;
  text-decoration: none;
  border: 1px solid #ccc;
  margin-right: 5px; 
}

.pagination-links a:hover {
  background-color: #ccc;
}

.form-set-container {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 3px;
  position: relative;
}


button.deletebtn {
  margin: 8px;
}

@media (max-width: 767px) {
  td.idtd {
    border-top: 1px solid #eee;
    padding: 3px 9px!important;
  }
}

th#adastdid {
  text-align: center;
}
.adasnumber {
  color: #2f3032;
  font-family: "Inter-hosted";
  font-weight: normal;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 0px;
}

.adassharebutton {
  display: flex;
  margin-top: 5px;
}

.export-btn {
  background: #408c4f;
  color: #fff;
  padding: 10px 15px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .adassharebutton {
    flex-wrap: wrap;
    justify-content: center;
  }
  button.export-btn {
    margin: 5px;
}
  .export-btn {
    margin-top: 10px;
    margin-left: 0;
  }
}